<script setup lang="ts">
import { useAuthStore } from '@/stores/auth'
import { useLoginStore } from '@/stores/login'
import { inject, type Ref } from 'vue'

const rail = inject<Ref<boolean>>('rail')
const authStore = useAuthStore()
const loginStore = useLoginStore()
</script>

<template>
  <v-app-bar
    v-if="$route.name !== 'home'"
    color="teal-darken-4"
    image="https://images.unsplash.com/photo-1620820186187-fc32e79adb74?q=80&w=1886&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
  >
    <template v-slot:prepend>
      <v-app-bar-nav-icon @click.stop="rail = !rail"></v-app-bar-nav-icon>
    </template>

    <v-app-bar-title>Docdance Coffee</v-app-bar-title>

    <v-spacer></v-spacer>

    <!-- <v-btn icon>
      <v-icon>mdi-magnify</v-icon>
    </v-btn>

    <v-btn icon>
      <v-icon>mdi-heart</v-icon>
    </v-btn>

    <v-btn icon>
      <v-icon>mdi-dots-vertical</v-icon>
    </v-btn> -->
  </v-app-bar>
</template>
