<script setup lang="ts">
import { ref } from 'vue'

import { useLoginStore } from '@/stores/login'
import { useAuthStore } from '@/stores/auth';
const loginStore = useLoginStore()
const authStore = useAuthStore()
const visible = ref(false)
</script>

<template>
  <div class="ma-0" style="background-color: sienna;" fluid>
    <v-container style="width: 2000pt">
      <div>
        <v-card class="mx-auto pa-12 pb-8" elevation="8" max-width="448" rounded="lg">
          <div class="text-subtitle-1 text-medium-emphasis">User</div>

          <v-text-field v-model="loginStore.username" density="compact" placeholder="User"
            prepend-inner-icon="mdi-account" variant="outlined"
            :rules="[(v) => !!v || 'Field is required']"></v-text-field>

          <div class="text-subtitle-1 text-medium-emphasis d-flex align-center justify-space-between">
            Password

            <a class="text-caption text-decoration-none text-blue" href="#" rel="noopener noreferrer" target="_blank"></a>
          </div>

          <v-text-field v-model="loginStore.password" :append-inner-icon="visible ? 'mdi-eye-off' : 'mdi-eye'"
            :type="visible ? 'text' : 'password'" density="compact" placeholder="Enter your password"
            prepend-inner-icon="mdi-lock-outline" variant="outlined" :rules="[(v) => !!v || 'Field is required']"
            @click:append-inner="visible = !visible"></v-text-field>


          <v-btn block class="mb-8" color="browe" size="large" variant="tonal" @click="loginStore.login(); loginStore.toggleComponent()">
            Log In
          </v-btn>
          <v-dialog v-model="loginStore.dialogFailed" max-width="500px">
            <v-card>
              <v-card-title class="text-red text-h5">Error</v-card-title>
              <v-card-text>Username or Password wrong!</v-card-text>
              <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn color="blue darken-1" @click="loginStore.closeDialog">OK</v-btn>
              </v-card-actions>
            </v-card>
          </v-dialog>
        </v-card>
      </div>
    </v-container>
  </div>
</template>